# VSCode config
.vscode
jsconfig.json
tsconfig.json

# Temp files
/page/current404.html
netease_music_record_*.json

# npm & typings
/typings
/node_modules

# nohup log
nohup.out

# Server file
/static/*