/*   global adjustment   */

* {
    font-family: '文泉驿微米黑', 'Noto Sans CJK SC', 'Microsoft YaHei UI', '微软雅黑', sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
    outline: none;
    list-style: none;
    -webkit-tap-highlight-color: transparent;
}

a,
a:link,
a:visited {
    text-decoration: none;
    transition: color 0.4s;
}

a:hover {
    color: darkorange;
}


/*  public styles  */

.hidden {
    display: none;
}

.stack {
    background-color: white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
    padding: 0.6rem 1rem;
    box-sizing: border-box;
    border-radius: 2px;
}


/*  specific elements  */

body {
    background-color: #dddddd;
}

div.nav {
    position: fixed;
    right: 0;
    top: 0;
    height: 3rem;
    width: 100%;
    background-color: #009688;
    opacity: 0.9;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    z-index: 1000;
}

ul.nav {
    height: 100%;
    width: 1140px;
    margin: auto;
    font-size: 0;
}

li.nav {
    height: 100%;
    display: inline-block;
    line-height: 3rem;
}

li.nav>a {
    color: white;
    display: inline-block;
    height: 100%;
    padding: 0 1em;
    transition: background-color 0.4s;
}

li.nav>a:hover {
    background-color: rgba(255, 255, 255, 0.2)
}

.main {
    position: relative;
    width: 1140px;
    margin: 1rem auto;
    font-size: 0;
}

.body {
    width: 850px;
    display: inline-block;
    margin-right: 30px;
}

#index-header {
    font-size: 0;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
    width: 100%;
    height: 22rem;
    overflow: hidden;
    position: relative;
    background-image: url('https://rocka.me/static/NASABahamas.jpg');
    background-size: cover;
}

#index-header-text {
    margin-left: 1rem;
    overflow: hidden;
    position: relative;
    width: 1140px;
    margin: 9rem calc(50% - 570px);
}

#index-header-title {
    font-size: 2.2rem;
}

#index-header-sub {
    font-size: 1.4rem;
}

#index-header-title,
#index-header-sub {
    color: white;
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
}

#view-header {
    margin-top: 3rem;
    height: 0;
    opacity: 0;
    overflow: hidden;
}

.stack {
    width: 850px;
    margin: 0 0 1.5rem 0;
}

.stack>.title {
    font-size: 1.5rem;
    color: #009688;
}

#index-article-title {
    margin: 0.5rem 0 1rem 0;
}

.stack>a.title:hover {
    color: darkorange;
}

.stack>.content {
    font-size: 1rem;
    font-family: 'Monaco', 'Ubuntu Mono', 'Consolas', monospace;
}

.stack>.content::after {
    content: "...";
}

.stack>.footnote {
    font-size: 0.8rem;
    color: gray;
}

.side {
    width: 260px;
    display: inline-block;
    right: 0;
    top: 0;
    vertical-align: top;
}

.sidebox {
    background-color: white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    overflow: hidden;
    margin-bottom: 1.5rem;
}

.sidebox .side-header {
    background-color: #2CA499;
    color: white;
    padding: 0.6rem 1rem;
    font-weight: 500;
}

.side-li {
    color: #444444;
    overflow: hidden;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 0.4s;
}

.side-li:hover {
    background-color: rgba(0, 0, 0, 0.1)
}

.side-li:last-child {
    border-bottom: none;
}

.side-li>a {
    font-weight: 300;
    color: #444444;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inherit;
    overflow: hidden;
    padding: 0.5rem 1rem;
    outline: none;
}


/* styles in article */

article>* {
    margin-bottom: 16px;
}

article h1 {
    font-size: 1.5rem;
}

article h2 {
    font-size: 1.4rem;
}

article h3 {
    font-size: 1.3rem;
}

article h4 {
    font-size: 1.2rem;
}

article h5 {
    font-size: 1.1rem;
}

article h6 {
    font-size: 1rem;
}

article h1::after,
article h2::after {
    font-size: 0px;
    color: lightgrey;
    content: "-";
    display: block;
    height: 1px;
    background-color: currentColor;
}

quote {
    display: block;
    white-space: pre;
    background-color: #EEEEEE;
    border-left: 8px solid lightgrey;
    padding: 8px;
}

.code-inline,
.code-block {
    font-family: 'Monaco', 'Ubuntu Mono', 'Consolas', monospace;
    background-color: #EEEEEE;
}

.code-inline {
    padding: 3px;
    border-radius: 4px;
}

.code-block {
    white-space: pre;
    display: block;
    padding: 12px;
    max-width: 100%;
    overflow-y: hidden;
}

article img {
    max-width: 100%;
    margin-bottom: 0;
}

.img-comment {
    line-height: 1.6rem;
    font-size: 0.9rem;
    margin: 0 auto 16px;
    display: block;
    text-align: center;
    color: grey;
    border-bottom: 1px solid lightgrey;
    width: fit-content;
    padding: 0 1rem;
}