/*   global adjustment   */

* {
    font-family: 'Noto Sans' ,'Noto Sans S Chinese', 'Microsoft YaHei UI', '微软雅黑';
    font-size: 16px;
    padding: 0;
    margin: 0;
    outline: none;
    list-style: none;
}

a,
a:link,
a:visited {
    text-decoration: none;
    transition: color 0.4s;
}

a:hover {
    color: darkorange;
}


/*  public styles  */

.hidden {
    display: none;
}

.stack {
    background-color: white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
    padding: 0.6rem 1rem;
    box-sizing: border-box;
    border-radius: 2px;
}

/*  specific elements  */

body {
    background-color: #dddddd;
}

div.nav {
    position: fixed;
    right: 0;
    top: 0;
    height: 3rem;
    width: 100%;
    background-color: #009688;
    opacity: 0.8;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    z-index: 1000;
}

ul.nav {
    height: 100%;
    width: 1140px;
    margin: auto;
}

li.nav {
    height: 100%;
    display: inline-block;
    line-height: 3rem;
    transition: background-color 0.4s;
}

li.nav:hover {
    background-color: rgba(255, 255, 255, 0.2)
}

li.nav > a {
    color: white;
    display: inline-block;
    height: 100%;
    width: 100%;
    padding: 0 1em;
}

div.main {
    position: relative;
    width: 1140px;
    margin: 4rem auto;
    font-size: 0;
}

div.body {
    width: 850px;
    display: inline-block;
    margin-right: 30px;
}

#index-article-list li.stack, 
div#index-article-view{
    width: 850px;
    margin: 0  0 1.5rem 0;
}

.stack > .title {
    font-size: 1.5rem;
    color: #009688;
}

.stack > a.title:hover {
    color: darkorange;
}

.stack > .content {
    font-size: 1rem;
    font-family: 'Monaco';
}

.stack > .content::after {
    content: "...";
}

.stack > .footnote {
    font-size: 0.8rem;
    color: gray;
}

div.side {
    width: 260px;
    display: inline-block;
    right: 0;
    top: 0;
    vertical-align: top;
}

div.sidebox {
    background-color: white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    overflow: hidden;
    margin-bottom: 1.5rem;
}

div.sidebox .header {
    background-color: #2CA499;
    color: white;
    padding: 0.3rem 1.2rem;
    font-weight: 500;
}

div.sidebox ul > li {
    color: gray;
    overflow: hidden;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.3rem 1rem;
    transition: background-color 0.4s;
}

div.sidebox ul > li:hover {
    background-color: rgba(0, 0, 0, 0.1)
}

div.sidebox ul > li:last-child {
    border-bottom: none;
}

div.sidebox ul > li > a {
    font-weight: 300;
    color: #444444;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: color 0.4s;
}